/*
Transition recipe:
.btn{
    transition: <property(default:all)> <duration> <timing-function(default:ease)> <delays(default:0)>;
}
*/

a {
    color: #00a0d6;
    text-decoration: none;
}

.btn {
    border-radius: 25px;
    background-color: #00A0D6;
    border: 0;
    border-bottom: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    color: #FFF;
    display: inline-block;
    font-weight: bold;
    line-height: 3;
    height: 50px;
    width: 200px;
    position: relative;
    overflow: hidden;
    text-align: center;
    transition: all .4s;
}

.btn:active,
.btn:focus,
.btn:hover {
    background-color: #007DA7;
    color: #E3E3E3;
}

span.content {
    display: block;
    width: 100%;
    text-align: center;
}

.top {
    top: 0px;
}

.bottom {
    top: 100px;
}

.top.content {
    top: 0px;
}

.bottom.content {
    top: 50;
}

.btn:hover .top {
    top: -50px;
}

.btn:hover .bottom {
    top: 0px;
}

.content {
    transition: top 1s;
    position: absolute;
}